
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 3rem;
}

.footer {
    &__copy {
        font-weight: 700;
        font-size: 10px;
    }

    &__logo {
        position: relative;
        top: 2px;
    }
}