header {
    background: $b-gradient;

    .subtitle {
        font-weight: 300;
        letter-spacing: 0.8px;
        font-size: 22px;
        margin-bottom: 1.75rem;

        strong {
            font-weight: 600;
        }
    }
}

.logo {
    width: 107px;

    &__container {
        padding: 18px 16px;
        display: flex;
        justify-content: flex-end;
    }
}

.profile-data {

    &-container {
        h4 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            gap: 15px;
        }
    
        span {
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 1.25rem;
            display: block;
        }
    }

    &__form {
        display: flex;
        margin-bottom: 2rem;

        &-fields {
            width: 50%;
        }
    }

    &__address {
        font-weight: 600;
        font-size: 12px;
        color: $c-tertiary;
    }

    &__input {
        color: $c-tertiary;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

}

.address-inputs {
    display: flex;
    margin-top: 1rem;

    input {
        color: $c-tertiary;
        font-size: 12px;
        font-weight: 600;
        width: 50px;
    }
}

.summary {
    &-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3rem;
    }

    &__total {
        font-size: 47px;
        color: #fff;
    }

    &-content {
        &--number {
            color: $c-tertiary;
            font-weight: 400;
            font-size: 18px;
            span {
                margin-left: 10px;
            }
        }

        &--price {
            font-weight: 400;
            font-size: 14px;
            color: $c-tertiary;
        }
    }

    &__total-price {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        margin-top: 1rem;
    }
}

.icon {
    padding-left: 25px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &--user::after {
        background-image: $user-icon;
    }
    &--email::after {
        background-image: $email-icon;
    }
    &--phone::after {
        background-image: $phone-icon;
    }
    &--address::after {
        background-image: $pin-icon;
    }
}

// TABLET
@media screen and (min-width: 767px) {

    .logo {
        width: 134px;

        &__container {
            padding: 26px 48px;
        }
    }

    header {
        .subtitle {
            font-size: 29px;
            margin-bottom: 2.5rem;
        }
    }

    .profile-summary-container {
        display: flex;
        justify-content: space-between;
    }

    .summary-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 2px;
            left: -60px;
            height: 80%;
            background-position: center;
            background-repeat: repeat-y;
            background-image: $vertical-line;
        }
    }

    .address-inputs {
        padding-left: 25px;
    }
}

// TABLET LANDSCAPE
@media screen and (min-width: 1023px) {
    .logo {
        &__container {
            justify-content: flex-start;
            padding: 26px 40px;
        }
    }

    .header-content {
        display: flex;
    }

    .subtitle-container {
        width: 178px;
    }

    .profile-summary-container {
        flex-grow: 1;
    }
}

// DESKTOP
@media screen and (min-width: 1439px) {

    .logo__container {
        max-width: 1440px;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .header-content {
        max-width: 1220px;
        margin: 0 auto;
    }

    .profile-summary-container {
        margin-left: 130px;
    }
}