.payment {

    &-form {
        margin-bottom: 5rem;
    }

    &-container {
        margin: 0 28px;
    }

    &__title {
        font-size: 20px;
        color: $c-primary;
        font-weight: 400;
        margin-bottom: 2.5rem;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.0287096);
        border-radius: 17px;
        margin-bottom: 2.5rem;
        padding: 5px;
        overflow: auto;
    }

    &__item {
        padding: 5px;
        border-radius: 14px;
        font-size: 14px;
        color: #a5a5a5;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        &--active {
            background: #fff;
            color: $c-primary;
            font-weight: 700;
            padding: 5px 25px;
        }

        &:hover {
            color: $c-primary;
        }
    }

    &-form {

        &__fields {
            margin-bottom: 20px;

            &--card {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &__input {
            border: 1px solid #E8E6EA;
            border-radius: 15px;
            padding: 16px 20px;
            color: #333;
            font-size: 14px;
            font-weight: 500;
            &::placeholder {
                color: #9F9A9A;
                font-size: 14px;
            }
              
            &--cardnumber {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &--expiration-date {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top-width: 0px;
                border-bottom-right-radius: 0;
            }

            &--cvvnumber {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-left-width: 0;
                border-top-width: 0;
                border-top-right-radius: 0;
            }
        }

        &__label {
            font-size: 12px;
            color: $c-dark-blue;
            font-weight: 600;
            background-color: #fff;
            display: inline-block;
            position: relative;
            top: 7px;
            left: 30px;
        }
    }
}

.toggle-button-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 2rem;
    &::before {
        content: 'Guardar esta tarjeta';
        position: absolute;
        top: 0;
        right: 50px;
        font-size: 14px;
        color: #000;
        font-weight: 700;
    }
}

@media screen and (min-width: 767px) {

    .payment {
        &-container {
            margin: 65px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__title {
            font-size: 24px;
            width: 100%;
            margin-bottom: 3.5rem;
        }

        &__items {
            width: 40%;
            flex-direction: column;
            background: transparent;
            position: relative;
            overflow: initial;

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 2px;
                right: -25px;
                background-position: center;
                background-repeat: repeat-y;
                background-image: $vertical-line;
            }
        }

        &__item {
            display: flex;
            padding: 10px 20px 40px !important;
            align-items: center;
            gap: 20px;
            border-bottom: 1px solid #D1D6D7;
            border-radius: 0;
            font-weight: 600;

            &--active {
                color: #5B4FAB;
            }

            &:last-child {
                border: none;
            }

            &--cardtext {
                max-width: 120px;
            }
        }

        &-form {
            width: 50%;
        }
    }
}

// TABLET LANDSCAPE
@media screen and (min-width: 1023px) {

    .payment {
        &-container {
            width: 60%;
            margin: 0;
        }
    }
}

@media screen and (min-width: 1439px) {
    .payment {
        &-container {
            width: 50%;
        }

        &__item {
            padding: 10px 20px 30px !important;
        }

        &__items {
            justify-content: flex-start;
        }
    }
}