* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $f-body;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    border: none;
    background-color: transparent;
}

fieldset {
    border: none;
}

input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent !important;
    font-family: $f-body;

    &::placeholder {
        color: $c-tertiary !important;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: $c-tertiary;
        transition: background-color 5000000s ease-in-out 0s;
    }
    &:-webkit-autofill::first-line {
        font-family: $f-body;
        font-size: 12px;
        font-weight: 600;
    }

}

select {
    background-color: transparent;
    border: none;
    outline: none;
    color: $c-tertiary;
    font-size: 12px;
    font-weight: 600;
    font-family: $f-body;
    width: 65px;

    &:active {
        border: none;
        outline: none;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
}

.f-body {
    font-family: $f-body;
}

.mt-5 {
    margin-top: 25px;
}

.mt-10 {
    margin-top: 50px;
}

.mr-4 {
    margin-right: 20px;
}

.mv-1 {
    margin-right: 5px;
    margin-left: 5px;
}

.ml-5 {
    margin-left: 25px;
}

.ml-6 {
    margin-left: 30px;
}

.pl-5 {
    padding-left: 25px;
}

.pt-5 {
    padding-top: 25px;
}

.c-primary {
    color: $c-primary;
}

.c-tertiary {
    color: $c-tertiary;
}

.c-white {
    color: #fff;
}

.btn {
    padding: 10px 50px;
    border-radius: 25px;
    text-align: center;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: $c-primary;
    color: #fff;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    &:hover {
        background-color: darken($c-primary, 7);
    }
}

.btn-block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.center-container {
    margin: 0 28px;
}