* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $f-body;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    border: none;
    background-color: transparent;
}

fieldset {
    border: none;
}

input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: $f-body;

    &::placeholder {
        color: $c-tertiary;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: $c-tertiary;
        transition: background-color 5000000s ease-in-out 0s;
    }
    &:-webkit-autofill::first-line {
        font-family: $f-body;
        font-size: 12px;
        font-weight: 600;
    }

}

select {
    background-color: transparent;
    border: none;
    outline: none;
    color: $c-tertiary;
    font-size: 12px;
    font-weight: 600;
    font-family: $f-body;
    width: 65px;

    &:active {
        border: none;
        outline: none;
    }
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
.btn-switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 43px;
    height: 21px;
    background: #D1D6D7;
    display: block;
    border-radius: 100px;
    position: relative;
}

.btn-switch:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + .btn-switch {
    background: #bada55;
}

input:checked + .btn-switch:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.btn-switch:active:after {
    width: 41px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.f-body {
    font-family: $f-body;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.mt-5 {
    margin-top: 25px;
}

.mt-10 {
    margin-top: 50px;
}

.mr-4 {
    margin-right: 20px;
}

.mv-1 {
    margin-right: 5px;
    margin-left: 5px;
}

.ml-5 {
    margin-left: 25px;
}

.ml-6 {
    margin-left: 30px;
}

.pl-5 {
    padding-left: 25px;
}

.pt-5 {
    padding-top: 25px;
}

.c-primary {
    color: $c-primary;
}

.c-tertiary {
    color: $c-tertiary;
}

.c-white {
    color: #fff;
}

.btn {
    padding: 15px 50px;
    border-radius: 25px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    font-family: $f-body;
    width: 100%;

    span {
        margin-left: 5px;
    }
}

.btn-primary {
    background-color: $c-primary;
    color: #fff;
    box-shadow: 0px 9px 15px rgba(41, 52, 208, 0.2);
    border-radius: 10px;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    &:hover {
        background-color: darken($c-primary, 7);
    }
}

.btn:disabled {
    background-color: #D1D6D7;
    box-shadow: 0px 9px 15px rgba(151, 151, 151, 0.1);
    color: #676D75;
    cursor: default;

    &:hover {
        background-color:#D1D6D7;
    }
}

.btn-block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.center-container {
    margin: 0 28px;
}

.hide-m {
    display: none;
}

.hide-mt {
    display: none;
}

// TABLET
@media screen and (min-width: 767px) {
    .center-container {
        margin: 0 35px;
    }

    .hide-m {
        display: block;
    }

    .hide-d {
        display: none;
    }
}

// TABLET LANDSCAPE
@media screen and (min-width: 1023px) {
    
    main {
        display: flex;
        margin: 20px 47px;
        gap: 75px;
    }
}

// DESKTOP
@media screen and (min-width: 1439px) {
    .center-container {
        margin: 0;
    }

    main {
        max-width: 1180px;
        margin: 44px auto;
        justify-content: space-between;
    }

    .hide-mt {
        display: flex;
    }

    select {
        width: 85px;
    }
}