// Colors
$c-primary:         #362ef9;
$c-secondary:       #764afb;
$c-tertiary:        #CFF8FE;
$c-dark-blue:       #000057;
$c-light-gray:      #d8d8d8;
$c-invalid:         #ff0000;
$b-gradient:          linear-gradient(0deg, #764AFB 19.54%, #362EF9 108.86%);

//Fonts
$f-body:       'Montserrat', sans-serif;